.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6 1fr);
  grid-gap: 3px;
  padding: 30px;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  border-radius: 0.5em;
  font-family: monospace;
  padding-top: 60px;
}

.result {
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: span 4;
  line-height: 2.5em;
  font-size: 2em;
  font-weight: bold;
  background-image: linear-gradient(-225deg, #b6cee8 0%, #f578dc 100%);
  color: black;
  margin-bottom: 10px;
  padding-left: 0.9em;
  border-radius: 5px;
  border: 1px 5px 5px 1px solid rgb(230, 162, 215);
}
.result::placeholder {
  color: black;
}
.result:focus {
  outline: none;
}

.numberButton {
  color: black;
  font-weight: bold;
  padding: 0.8em;
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
  border-radius: 8px;
  font-size: x-large;
  border-bottom: 5px solid rgb(230, 162, 215);
  border-right: 5px solid rgb(230, 162, 215);
  border-left: 1px solid rgb(230, 162, 215);
  border-top: 1px solid rgb(230, 162, 215);
}

.numberButton:focus {
  outline: none;
}

.operator {
  font-weight: bold;
  background-image: linear-gradient(
    -225deg,
    #ff3cac 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
  padding: 0.8em;
  font-size: x-large;
  border-radius: 8px;
  border-bottom: 5px solid rgb(230, 162, 215);
  border-right: 5px solid rgb(230, 162, 215);
  border-left: 1px solid rgb(230, 162, 215);
  border-top: 1px solid rgb(230, 162, 215);
}
.operator:focus {
  outline: none;
}

.mathButton {
  color: orange;
}

.headline {
  display: grid;
}
.equal {
  grid-column-start: 1;
  grid-column-end: span 4;
  font-size: 2.5em;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  padding: 0.5em;
  color: black;
  margin-top: 10px;
  border-radius: 8px;
  border-bottom: 5px solid rgb(230, 162, 215);
  border-right: 5px solid rgb(230, 162, 215);
  border-left: 1px solid rgb(230, 162, 215);
  border-top: 1px solid rgb(230, 162, 215);
}
